h1 {
  font-size: 30px;
  margin: 0; }

h2 {
  font-size: 25px;
  margin: 0; }

h3 {
  font-size: 18px;
  margin: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-family: "Lato", sans-serif; }

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%; }

.perfil {
  width: 50%;
  padding-top: 50px;
  background-color: #FFF; }
  .perfil__avatar {
    display: block;
    margin: 0 auto;
    border-radius: 50em;
    -webkit-box-shadow: 0px 20px 33px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 20px 33px 0px rgba(0, 0, 0, 0.4); }
  .perfil__nombre, .perfil__minibio h2 {
    text-align: center;
    color: #8841DA;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase; }
  .perfil__titulo, .perfil__minibio h3 {
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    color: #3f579a;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase; }
  .perfil__boton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100px;
    height: 40px;
    margin: 15px auto;
    border-radius: 20px;
    text-decoration: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.5);
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    color: #FFF;
    background-color: rgba(51, 51, 51, 0.8); }
  .perfil__minibio {
    width: 50%;
    margin: 20px auto; }

.estadistica--perfil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 90px;
  padding-top: 15px;
  width: 50%;
  border-radius: 20px;
  background-color: #FFF;
  color: #333;
  -webkit-box-shadow: 0px 20px 33px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 20px 33px 0px rgba(0, 0, 0, 0.4); }
  .estadistica--perfil h3 {
    margin: 0 auto;
    display: block;
    text-align: center;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase; }
  .estadistica--perfil span {
    display: block;
    text-align: center;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px; }

.ubicacion--perfil {
  margin: 30px auto 0 auto;
  padding: 20px 0 20px 50px;
  width: 40%;
  border-radius: 20px;
  background-color: #FFF;
  color: #333;
  -webkit-box-shadow: 0px 20px 33px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 20px 33px 0px rgba(0, 0, 0, 0.4); }
  .ubicacion--perfil i {
    color: #3f579a;
    font-size: 40px;
    float: left;
    display: block;
    padding-right: 10px;
    margin-top: 5px; }
  .ubicacion--perfil h2 {
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase; }
  .ubicacion--perfil h3 {
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase; }

.galeria {
  margin: 30px auto;
  padding: 20px 0 0 30px;
  height: 330px;
  width: 60%;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  border-radius: 20px;
  background-color: #FFF;
  color: #333;
  -webkit-box-shadow: 0px 20px 33px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 20px 33px 0px rgba(0, 0, 0, 0.4); }
  .galeria h2 {
    margin-bottom: 20px; }
  .galeria__foto-principal {
    float: left;
    margin-right: 10px; }
    .galeria__foto-principal img {
      border-radius: 10px;
      height: 230px; }
  .galeria__fotos-adicionales img {
    height: 110px;
    width: auto;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 10px; }

.articulos {
  width: 50%;
  padding: 100px 0 0 50px;
  background-color: #333; }

.articulo {
  margin-bottom: 75px;
  border-bottom: 3px solid #8841DA; }
  .articulo__categoria {
    font-weight: 500;
    color: #8841DA;
    font-size: 16px;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase; }
  .articulo__titulo {
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    margin-bottom: 50px;
    color: #FFF; }
  .articulo__descripcion {
    font-size: 18px;
    margin-bottom: 30px;
    padding-right: 100px;
    color: #FFF; }
