.articulos{
    width: 50%;
    padding: 100px 0 0 50px;
    @include right__background($variacion);
}

.articulo{
    margin-bottom: 75px;
    border-bottom: 3px solid $color-secundario;
    &__categoria{
        font-weight: 500;
        color: $color-secundario;
        font-size: 16px;
        @include titulos($fuente2);
    }
    &__titulo{
        font-size: 20px;
        @include titulos($fuente2);
        margin-bottom: 50px;
        @include right__titulos($variacion);
    }
    &__descripcion{
        font-size: 18px;
        margin-bottom: 30px;
        padding-right: 100px;
        @include right__parrafos($variacion);
    }
}